# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
1. List popular languages for Data Science
2. List popular libraries for Data Science
3. Show arithmetic expression in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R lang
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

| Data Science Tools |
| --- |
| JupyterLab |
| Anaconda | 
| VSCode |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
print(str(200 // 60) + "hr")

3hr

## Author
Dennis Chou (CHOU KUAN YU)